body {
    background: url(../images/bg.png);
    font-family: 'Open Sans', sans-serif;
}

.background {
    background: url(../images/bg2.jpg);
    height: 310px;
    border-bottom: 7px solid #46735E;
    background-position-y: 1284px;
}

.class-icon {
    width: 24px;
    height: 24px;
}

.label-member {
    padding: 5px;
    margin: 0px;
    display: inline-block;
    font-size: 0.9em;
    background-color: #777;
    font-weight: normal;
}

ul.pagination {
    margin: 0;
}

.available {
    color: #00be4d;
}

.missing {
    color: red;
}

.exclu-available {
    color: #ffff00;
}

.remove-roster {
    cursor: pointer;
}

td.buff, td.cooldown {
    padding-left: 0px !important;
}

.import-div {
    margin-left: 3px;
}

/* -----------------------------------------------------------------------
Change all button, badges and labels color to something more "green"
------------------------------------------------------------------------ */
.btn-roster {
     background-color: #46735E;
     border-color: #63846A;
     color: #f5f5f5;
 }

.btn-roster:hover,
.btn-roster:focus,
.btn-roster:active {
    background-color: #03A688;
    border-color: #63846A;
    color: #FFFFFF;
}

.label-default, .panel-default > .panel-heading .badge {
    background-color: #46735E;
    color: #FFFFFF;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #46735E;
    border-color: #03A688;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #03A688;
}

.pagination > li > a, .pagination > li > span {
    color: #46735E;
}